<template name="listCategories">
	<div class="category-table table">
		<div class="table-headings pure-g p-1-2">
			<div id="name" class="column column-title pure-u-1-3 ">
				<span>Name</span>
			</div>
			<div id="slug" class="column column-slug pure-u-1-3">
				<span>Slug</span>
			</div>
			<div id="created" class="column column-created pure-u-1-3">
				<span>Number of Posts</span>
			</div>
		</div>

		{{#each categories}}
		<div class="table-row row-{{name}} p-1-2">
			<div class="category-data pure-g">
				<div class="column column-name pure-u-1-3">
					<a href="{{pathFor 'posts_list_template'}}">{{name}}</a>
					<ul class="row-actions">
						<li><a class="edit-category" href="#">Edit</a></li>
						<li><a class="delete-category" href="#">Delete</a></li>
					</ul>
				</div>
				<div class="column column-slug pure-u-1-3">
					<span>/{{slug}}</span>
				</div>
				<div class="column column-timestamp pure-u-1-3">
					<span>{{postCount name}}</span>
				</div>
			</div>

			<div class="edit-category-row pure-g hidden">
				<form class="form update-category-form">
					<div class="form-control">
						<label class="label pure-u-1-5" for="category">Category Name</label>
						<input class="updated-category-name" type="text" name="category-name" value={{name}}>
					</div>
					<div class="form-control">
						<label class="label pure-u-1-5" for="category">Category Slug</label>
						<input class="updated-category-slug" type="text" name="category-slug" value={{slug}}>
					</div>

					<input type="submit" value="Save Category" class="save-category-btn btn blue-btn"/>
				</form>
			</div>
		</div>
		{{/each}}
	</div>
</template>