<template name="addAssets">
  <div class="form-control">
    <div class="add-media">
      <input name="files" type="file" class="fileUploader" multiple>
    </div>
  </div>
</template>

<template name="imageList">
  <h4>IMAGES</h4>
    <ul class='file-list'>
      {{#each files}}
        <li class="file-row">
          <div class="large-3 columns">
            <img src="{{cfsFileUrl 'thumb'}}">
          </a>

          </div>
          <div class="large-4 columns">
            <a href="{{cfsFileUrl 'default'}}">{{filename}}</a>
            <br />
            <span class="file-date">{{humanReadableTime uploadDate}}</span>
            <span class="file-size">{{cfsFormattedSize}}</span>
          </div>
          <div class="large-3 columns">
            <a class="alert button delete-file">Delete</a>
          </div>
        </li>
      {{else}}
        <li class='no-files'>No images uploaded.</li>
      {{/each}}
    </ul>
</template>