<template name="headerSettings">
	<div class="settings-content hidden">
		<div class="form-control">
			<label class="label" for="header-location m-r-1">Header Location:</label>
			<select name="header-location" class="header-location">
				<option value="top" {{isSelected}}>Top</option>
				<option value="left" {{isSelected}}>Left</option>
				<option value="right" {{isSelected}}>Right</option>
				<option value="bottom" {{isSelected}}>Bottom</option>
			</select>
		</div>

		<div class="form-control">
			<img class="media-image" src="{{headerImage}}" height="{{headerHeight}}"/>
			<input type="text" name="featured-image" value="{{headerImage}}" class="hidden"/>
			{{#if headerImage}}
				<div class="header-image-buttons">
				<button id="header-image-btn" class="btn blue-btn">Change Image</button>
				<button id="remove-image-btn" class="btn red-btn pull-right">Remove Header Image</button> 
				</div>
			{{else}}
				<button id="header-image-btn" class="btn blue-btn">Set Header Image</button>
			{{/if}}
		</div>

		<div class="form-control">
			<label class="label" for="resize-header-image">Resize Header Image?</label>
			<input type="radio" class="resize-header-image" name="resize-header-image" value="yes">Yes</input>
			<input type="radio" class="resize-header-image" name="resize-header-image" value="no">No</input>
		</div>

		<div class="form-control header-resize-form hidden pure-u-1-3">
			<div class="form-control">
				<label class="label" for="header-image-height">Image Height (in pixels)</label>
				<input type="text" class="header-image-height pull-right" name="header-image-height" value="{{headerHeight}}"></input>
			</div>
			<div class="form-control">
				<label class="label" for="header-image-height">Image Width (in pixels)</label>
				<input type="text" class="header-image-width pull-right" name="header-image-width" value="{{headerWidth}}"></input>
			</div>
		</div>
	</div>
</template>