<template name="settings">
	<div class="settings pure-g">
		<h3>SETTINGS</h3>
		<form class="form">
			<div class="header-settings settings-block pure-u-3-5 ">
				{{> settingsHeader header}}
				{{> headerSettings settings}}
			</div>
			<div class="menu-settings settings-block pure-u-3-5">
				{{> settingsHeader menus}}
				{{> menuSettings}}
			</div>

			<input type="submit" class="save-settings-button large-btn blue-btn fixed" value="Save"/>
		</form>
	</div>
</template>


<template name="settingsHeader">
	<div class="settings-header dark-grey-bg">
		<span class="settings-title delta">{{title}}</span>
		<span class="toggle"></span>
	</div>
</template>