// ******** BUTTONS **********

.btn{
	padding: .5rem;
}

.small-btn{
	padding: .25rem;
	font-size: .8rem;
}

.large-btn{
	padding: .75rem;
	font-size: 1.3rem;
}

.blue-btn{
	background-color: $blue;
	color: white;

	&:hover{
		background-color: $dark-blue;
		color: white;
	}
}

.red-btn{
	background-color: $red;
	color: white;

	&:hover{
		background-color: $dark-red;
		color: white;
	}
}

.white-btn{
	background-color: white;
	color: $red;
}

button{
	border: none;
	cursor: pointer;
	font-size: 1rem;
	@include transition(300ms);
}