$red: #ee373a;
$light-red: #F46264;
$dark-red: #65120e;
$light-grey: #EFEFEF;
$grey: #999a9a;
$dark-grey: #232221;
$midnight: #171616;
$blue: #47c6d9;
$dark-blue: #2f9baa;
$green: rgb(172, 237, 143);

$pink1: #f7c7c5;
$pink2: #f59c9a;
$pink3: #f59c9a;

.pink1{
	color: $pink1;
}

.pink2{
	color: $pink2;
}

.pink3{
	color: $pink3;
}