.form-control{

	margin: .5rem 0rem;

	.inline{
		display: inline;
		width: auto;
		border: none;
	}

	.label{
	}

	input[type="text"]{
		width: 100%;
		height: 2rem;

		&:focus{
			outline: none;
		}
	}
}