.form-control{

	margin: .5rem 0rem;

	.label{
		font-weight: 600;
		font-size: .9rem;
		margin-right: .5rem;
	}

	input[type="text"]{
		height: 1.5rem;

		&:focus{
			outline: none;
		}
	}

	input[type="file"]{
		height: 2rem;
	}

	select{
		height: 1.5rem;
		border: 1px solid white;
		font-family: $copy-font;
		font-size: .8rem;
	}
}

input[type="submit"]{
	margin: 0;
	border: none;
	color: white;
	cursor: pointer;
	@include transition(300ms);

	&:hover{
		background-color: $dark-grey;
	}
}

.modal{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba($dark-grey, .7);
}