.form-control{

	margin: .5rem 0rem;

	.label{

	}

	input[type="text"]{
		width: 100%;
		height: 2rem;

		&:focus{
			outline: none;
		}
	}

	input[type="file"]{
		height: 2rem;
	}

	select[type="select"]{
		height: 1.5rem;
		border: 1px solid $grey;
	}
}

input[type="submit"]{
	border: none;
	padding: .5rem;
	font-size: 1rem;
	background-color: $grey;
	color: white;
	cursor: pointer;
	@include transition(300ms);

	&:hover{
		background-color: $dark-grey;
	}
}

.modal{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba($dark-grey, .7);
}