.admin-header{
	position: fixed;
	height: 35px;
	width: 100%;
	top: 0px;
	background-color: $dark-grey;
}

#login-buttons{
	float:right;
}

.header{
	background-color: $red;

	.logo{
		.logo-letter{
			font-weight: 900;
			line-height: 2.5rem;
		}

	}
}

.header-right{
	position: fixed;
	right: 0px;
	height: 100%;
	width: 220px;

	.logo-image{
		max-width: 100%;
	}
}

.header-left{
	position: fixed;
	left: 0px;
	height: 100%;
	width: 220px;

	.logo-image{
		max-width: 100%;
	}
}

.header-top{
	top: 0px;
	width: 100%;

}

.header-bottom{
	position: fixed;
	bottom: 0px;
	width: 100%;
}