.show{
	opacity: 1.0 !important;
}

.hidden{
	display: none;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.strong{
	font-weight: 600;
}

.light{
	font-weight: 100;
}

.centered{
	text-align: center;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.transition-1000{
	@include transition(all 1000ms);
}

// ******** BORDERS **********

.bordered{
	border: 1px solid $light-grey;
}

.border-bottom-pink{
	border-bottom: 2px solid $pink1;
}

.separator{
	border-bottom: 1px solid $blue;
}

// ******** TYPOGRAPHY **********

.heading{
	font-family: $heading-font;
}

.small{
	font-size: 90%;
}


// ******** POSITIONING **********

.fixed{
	position: fixed;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.inline{
	display: inline;
}

// ******** SIZING **********

.full-height{
	height: 100%;
}

.full-width{
	width: 100%;
}

.max-100{
	max-width: 100%;
}


// ******** MARGIN **********

.m-1{
	margin: 1rem;
}

.left-right-margin-1{
	margin: 0 1rem;
}

.left-right-margin-2{
	margin: 0 2rem;
}

.top-margin-1{
	margin-top: 1rem;
}

.m-t-1{
	margin-top: 1rem;
}

.m-b-1{
	margin-bottom: 1rem;
}

.m-b-2{
	margin-bottom: 2rem;
}

.m-l-1{
	margin-left: 1rem;
}

.m-r-1{
	margin-right: 1rem;
}

// ********PADDING**********

.p-1-4{
	padding: .25rem;
}

.p-1-2{
	padding: .5rem;
}

.p-1{
	padding: 1rem;
}

.p-2{
	padding: 2rem;
}

.p-top-2{
	padding-top: 2rem;
}
.p-bottom-2{
	padding-bottom: 2rem;
}