.sidebar{
	position: fixed;
	width: 160px;
	height: 100%;
	left: 0px;
	background-color: $dark-grey;
	z-index: 100;

	.nav{
		.nav-links{
			li{
				position: relative;
				text-align: center;
				padding: .5rem;

				@include transition(300ms);

				&:hover{
					background-color: $midnight;

					a{
						color: $dark-blue;
					}

					.submenu{
						display: block;
					}
				}

				a{
					color: $grey;
				}
			}

			.submenu{
				display: none;
				position: absolute;
				top: 0px;
				left: 160px;
				width: 160px;
				background-color: $dark-grey;

				&:hover{
					display: block;
				}

				li{
					a{
						color: $grey;
					}
				}
			}
		}
	}
}