
.table{
	width: 100%;

	.table-headings{
		font-size: 1.2rem;
	}

	.table-row{
		&:nth-of-type(even){
			background-color: white;
		}

		&:hover{
			.row-actions{
				opacity: 1.0;
			}
		}
	}
}


.row-actions{
	opacity: 0.0;

	li{
		display: inline-block;
		padding: 0rem .5rem;
		font-size: .8rem;
		text-align: center;
	}
}

