
.table{
	width: 100%;

	thead{
		th{
			padding: 0rem 1rem;
			font-size: 1.2rem;
		}
	}

	tbody{
		tr{
			&:nth-of-type(odd){
				background-color: white;
			}

			&:hover{
				.row-actions{
					opacity: 1.0;
				}
			}

			td{
				padding: 1rem;
			}
		}
	}
}


.row-actions{
	opacity: 0.0;

	li{
		display: inline-block;
		padding: 0rem .5rem;
		font-size: .8rem;
		text-align: center;
	}
}

