<template name="newPost">
	<h3>Add New Post</h3>
	{{> displayPostAdmin }}
</template>

<template name="displayPostAdmin">
	<form class="form pure-g">
		<div class="post-content block pure-u-2-3"> 
			<div class="form-control">
				<label class="label" for="title">Title</label>
				<input id="title" name="title" type="text" value="{{title}}"/>
			</div>
			
			<div class="edit-slug-box">
				<span class="sample-slug">
					Permalink: {{url}}<span class="editable-slug">{{value}}</span>
					<input id="slug" class="hidden" name="slug" type="text" value="{{value}}"/>
				</span>
				<span class="edit-slug-btn">
					<a href="#" class="edit-slug small-btn blue-btn">Edit</a>
				</span>
			</div>

			<div class="form-control">
				<button class="add-media-btn btn blue-btn">Add Media</button>
			</div>

			<div class="form-control">
				<textarea id="editor" name="editor" rows="10" cols="80">{{{content}}}</textarea>
			</div>	

			<div class="form-control">
				<label class="label" for="excerpt">Excerpt</label>
				<textarea id="excerpt" name="excerpt" class="full-width" row="5">{{excerpt}}</textarea>
			</div>

			<input type="submit" value="Publish" class="btn"/>
		</div>
		
		<div class="post-options block pure-u-1-3">
			<h3>Post Options</h3>
			<div class="form-control">
				{{#if featuredImage}}
					<h4>Featured Image</h4>
				{{/if}}
					<img class="media-image full-width featured-image" src="{{featuredImage}}"/>
					<input type="text" name="featured-image" value="{{featuredImage}}" class="hidden"/>
				{{#if featuredImage}}
					<a href="#" id="featured-image-btn" class="label">Change Image</a>
					<a href="#" id="remove-image-btn" class="label pull-right">Remove Featured Image</a>
				{{else}}
					<a href="#" id="featured-image-btn" class="label">Set Featured Image</a>
				{{/if}}
			</div>
			<div class="form-control">
				<label class="label delta heading">Categories</label>
				<ul class="category-choices">
					{{#each categories}}
						<li>
							<input type="checkbox" name="category-{{name}}" class="category-option" value="{{name}}" {{isChecked ../categories}}/>
							<label class="label inline" for="category-{{name}}">{{name}}</label>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</form>
</template>
