<template name="postsList">
	<span class="gamma page-title">Posts</span>
	<a class="btn blue-btn left-margin-1" href="{{pathFor 'newPost'}}">Add a new post</a>

	<table class="post-table table top-margin-1">
		<thead>
			<tr>
				<th scope="col" id="title" class="column column-title">
					<span>Title</span>
				</th>
				<th scope="col" id="slug" class="column column-slug">
					<span>Slug</span>
				</th>
				<th scope="col" id="created" class="column column-created">
					<span>Created On</span>
				</th>
			</tr>
		</thead>
		<tbody>
	{{#each posts}}
		<tr class="row-{{title}}">
			<td class="column-title">
				<a href="{{pathFor 'editPost'}}">{{title}}</a>
				<ul class="row-actions">
					<li class="edit-post"><a href="{{pathFor 'editPost'}}">Edit</a></li>
					<li class="delete-post"><a href="#">Delete</a></li>
				</ul>
			</td>
			<td class="column-slug">
				<span>/{{slug}}</span>
			</td>
			<td class="column-timestamp">
				<span>{{prettyDate submitted}}</span>
			</td>
		</tr>
	{{/each}}
		</tbody>
	</table>
</template>