<template name="viewPostExcerpt">
	<div class="post p-1">
		<h4 class="post-title">{{title}}</h4>
		<div class="post-meta">
			<span>{{prettyDate submitted}}</span>
		</div>
		<div class="post-content">
			{{{excerpt}}} <a href="{{pathFor 'viewPostSingle'}}" class="">Read More</a>
		</div>
	</div>
</template>

<template name="viewPostSingle">
	<div class="post p-1">
		<h1>test</h1>
		<h4 class="post-title">{{title}}</h4>
		<div class="post-meta">
			<span>{{prettyDate submitted}}</span>
		</div>
		<div class="post-content">
			{{{content}}}
		</div>
	</div>
</template>