<template name="media">
	<header class="media-header p-1 pure-g">
		<h2 class="pull-left">Media Library</h2>
    <div class="add-media">
    <input name="files" type="file" id="fileUploader" class="fileUploader hidden" multiple>
    <a href="#" title="Upload Image" id="add-media-btn" class="btn blue-btn m-l-1 pull-left">Add Media</a>
    </div>
	</header>
	{{> imageList}}
</template>

<template name="imageList">
  <div class="image-list pure-g">
    <ul class='file-list'>
      {{#each files}}
        <li class="file-row row pure-g">
          <div class="pure-u-1-7">
            <img class="max-100 p-1" src="{{cfsFileUrl "medium"}}"/>
          </a>

          </div>
          <div class="pure-u-2-7 p-1">
            <a href="{{cfsFileUrl 'medium'}}">{{filename}}</a>
          </div>
          <div class="pure-u-1-7 p-1">
            <span class="file-size">{{cfsFormattedSize}}</span>
          </div>

          <div class="pure-u-2-7 p-1">
            <button class="alert button delete-file btn blue-btn">Delete</button>
          </div>
        </li>
      {{else}}
        <li class='no-files'>No images uploaded.</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="setFeaturedImage">
  <div class="modal p-2">
    <div class="container wrapper pure-g white-bg p-1">
      <button class="close-button btn red-btn pull-right">Close</button>
      <h3>Media</h3>
      {{#each files}}
        <div class="attachment-preview">
          <div class="centered">
            <a href="#" class="set-featured-image"><img  src="{{cfsFileUrl "default"}}"/></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="insertImage">
  <div class="modal p-2">
    <div class="container wrapper pure-g white-bg p-1">
      <button class="close-button btn red-btn pull-right">Close</button>
      <h3>Add Media</h3>
      {{#each files}}
        <div class="attachment-preview">
          <div class="centered">
            <a href="#" class="insert-image"><img src="{{cfsFileUrl "default"}}"/></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>