<template name="header">
	<header class="header header-{{settings.headerLocation}}" role="header">
		{{#constant}}
		<div class="logo">
			{{#if settings.headerImage}}
				<a href="/">
					<img class="logo-image" src="{{settings.headerImage}}" 
					{{#if settings.headerHeight}}
						height="{{settings.headerHeight}}"
					{{/if}}
					{{#if settings.headerWidth}}
						width="{{settings.headerWidth}}"
					{{/if}}/>
				</a>
			{{else}}
			<h1 class="logo-letter centered pink1">RA</h1>
			<h1 class="logo-letter centered pink2">MS</h1>
			<h1 class="logo-letter centered pink3">AY</h1>
			{{/if}}
		</div>
		{{/constant}}

		<nav class="nav">
			<ul class="nav-links">
				{{#if headerMenu}}
					{{#each headerMenu.links}}
						<li><a href="{{this.linkURL}}">{{this.linkTitle}}</a></li>
					{{/each}}
				{{/if}}
			</ul>
		</nav>
	</header>
</template>

<template name="adminHeader">
	<header class="admin-header">
		{{loginButtons align="right"}}
	</header>
</template>