<template name="adminSidebar">
	<aside class="sidebar" role="sidebar">
		<nav class="nav">
			<ul class="main-admin-nav nav-links">
				<li><a href="/admin">Home</a></li>
				<li><a href="{{pathFor 'media'}}">Media</a></li>
				<li><a href="{{pathFor 'pagesList'}}">Pages</a>
					<ul class="submenu">
						<li><a href="{{pathFor 'pagesList'}}">All Pages</a></li>
						<li><a href="{{pathFor 'newPage'}}">New Page</a></li>
					</ul>
				</li>
				<li><a href="{{pathFor 'postsList'}}">Posts</a>
					<ul class="submenu">
						<li><a href="{{pathFor 'postsList'}}">All Posts</a></li>
						<li><a href="{{pathFor 'newPost'}}">New Post</a></li>
						<li><a href="{{pathFor 'categories'}}">Categories</a></li>
					</ul>
				</li>
				<li class="separator"></li>
				<li><a href="{{pathFor 'settings'}}">Settings</a></li>
			</ul>

		</nav>
	</aside>
</template>