<template name="newPage">
	<h3>Add New Page</h3>
	{{> displayPageAdmin}}
</template>

<template name="displayPageAdmin">
	<form class="form pure-g">
		<div class="page-content block pure-u-2-3"> 
			<div class="form-control">
				<label class="label" for="title">Title</label>
				<input id="title" name="title" type="text" value="{{title}}"/>
			</div>
			
			<div class="edit-slug-box">
				<span class="sample-slug">
					Permalink: {{url}}<span class="editable-slug">{{{value}}}</span>
					<input id="slug" class="hidden" name="slug" type="text" value="{{slug}}"/>
				</span>
				<span class="edit-slug-btn">
					<a href="#" class="edit-slug small-btn blue-btn">Edit</a>
				</span>
			</div>

			{{> addAssets}}

			<div class="form-control">
				<textarea id="editor" name="editor" rows="10" cols="80">{{{content}}}</textarea>
            </script>
			</div>	

		</div>

		<div class="page-options block pure-u-1-3">
			<h4>Page Options</h4>
			<div class="form-control">
				<input type="checkbox" name="hide-title" id="show-title" value="checked" {{hideTitle}}/>
				<label class="label inline" for="hide-title">Hide Page Title</label>
			</div>

		</div>

		<input type="submit" value="Publish" class="btn"/>
	</form>
</template>
