<template name="newPage">
	<form class="form pure-g">
		<div class="page-content pure-u-2-3"> 
			<div class="form-control">
				<label class="label" for="title">Title</label>
				<input id="title" name="title" type="text" value=""/>
			</div>
			
			<div class="edit-slug-box">
				<span class="sample-slug">
					Permalink: {{url}}<span class="editable-slug">{{{value}}}</span>
					<input id="slug" class="hidden" name="slug" type="text" value="{{{value}}}"/>
				</span>
				<span class="edit-slug-btn">
					<a href="#" class="edit-slug small-btn blue-btn">Edit</a>
				</span>
			</div>

			<input type="submit" value="Add Page" class="btn"/>
		</div>
	</form>
</template>