<template name="pagesList">
	<header class="pages-header pure-g">
		<h2 class="page-title pull-left m-b-1">Pages</h2>
		<a class="btn blue-btn pull-left m-l-1" href="{{pathFor 'newPage'}}">Add a new page</a>
	</header>

	<div class="page-table table top-margin-1">
		<div class="table-headings pure-g p-1-2">
			<div id="title" class="column column-title pure-u-1-4">
				<span>Title</span>
			</div>
			<div id="slug" class="column column-slug pure-u-1-4">
				<span>Slug</span>
			</div>
			<div id="created" class="column column-created pure-u-1-4">
				<span>Created On</span>
			</div>
			<div id="template" class="column column-created pure-u-1-4">
				<span>Template</span>
			</div>
		</div>
	{{#each pages}}
		<div class="table-row row-{{title}} p-1-2 pure-g">
			<div class="column-title pure-u-1-4">
				<a href="{{pathFor 'editPage'}}">{{title}}</a>
				<ul class="row-actions">
					<li class="edit-page"><a href="{{pathFor 'editPage'}}">Edit</a></li>
					<li class="delete-page"><a href="#">Delete</a></li>
				</ul>
			</div>
			<div class="column-slug pure-u-1-4">
				<span>/{{slug}}</span>
			</div>
			<div class="column-timestamp pure-u-1-4">
				<span>{{prettyDate submitted}}</span>
			</div>
			<div class="columb-template pure-u-1-4">
				<span>{{pageTemplate}}</span>
			</div>
		</div>
	{{/each}}
	</div>
</template>
